# OS/system
.DS_Store
__pycache__/

# Python
*.pyc
.env

# Colab artifacts
.ipynb_checkpoints/

# Kaggle credentials
kaggle.json
.kaggle/
.env

# Large data
data/archive/raw/images/
data/raw/hm/images